@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;

}

html {
  font-size: 6.25%;
}

@media (max-width: 1250px) {
  html {
    font-size: 3.8%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
